@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

:root{
    --cor0: #e4ded1;
    --cor1: #d8cfc4;
    --cor2: #734337;
    --cor3: #542A14;
    --cor4: #381c0d;
    --p: rgba(14, 13, 13, 0.932);
}




*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor1);
    font-family: 'Times New Roman', Times, serif;
}

/*Correção do CSS do bootstrap*/
h1, h2, h3, h4, h5{
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}

p,a{
    line-height: normal;
}

/*-----CABEÇALHO-----*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--cor0);
    padding: 0 40px; 
    height: 70px;
}

/*-----ESTILO navbar (desktop + mobile)-----*/
header h1 {
    position: absolute;
    left: 30px;
    font-size: 2.5em;
    margin-right: 50px;
}

header > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.desktop-menu{
    margin: auto;
}

.offcanvas-title{
    font-size: 1.8em;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    line-height: 10px;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    margin: 10px;
}
.nav-link:hover {
    color: var(--cor3);
    border-bottom-color: var(--cor3);
}

/* Botão WhatsApp */
.whatsapp-btn {
    position: absolute;
    right: 30px;
    margin-left: 50px;
    background-color: var(--cor2);
    color: white;
    padding: 10px 17px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: 550;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
    text-decoration: none;
}
.whatsapp-btn:hover {
    background-color: var(--cor4);
}

/*-----NAV MOBILE-----*/
.navbar-custom {
    background-color: var(--cor0);
    height: 70px;
}


#container1 {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 500px; 
    padding-left: 13%; 
    background-image: url('../imagens/identidade_visual/imagembanner.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(100%);
    position: relative;
}

#container1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.texto-sobre-imagem{
    position: relative; /* mantém o texto acima do overlay */
    color: white;
    max-width: 400px;
    z-index: 1;
    filter: brightness(100%);
   
}

.texto-sobre-imagem h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.7rem;
    margin-bottom: 15px;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.514);
}

.texto-sobre-imagem p {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 20px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.295);
}


.botao {
    display: inline-block;
    padding: 10px 25px;
    background: var(--cor3);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.116);
    transition: background 0.3s ease;
}

.botao:hover {
    background: var(--cor2);
}

section#centralizador{
    margin: auto;
    align-items: center;
}

#container2{
    background-color: var(--cor1);
}
#container2 > h1{
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    color: var(--cor4)
}

#container2 > p{
    margin: auto;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    max-width: 520px;
    margin-bottom: 17px;
    color: var(--p)
}

#container2 > #destaques{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container2 > #destaques > .produtosdestaque > p{
    color: var(--p)
}
.produtosdestaque{
    background-color: var(--cor0);
    margin: 10px;
    width: 300px;
    height: 370px;
    text-align: center;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.075);
    transition: transform 0.3s ease;
    transition: 0.3s;
    padding-bottom: 10px;
}
.produtosdestaque:hover{
    transform: translateY(-5px);
}
.produtosdestaque > img{
    margin: 0;
    width: 300px;
    height: 190px;
    margin-bottom: 10px;
}

.produtosdestaque > h2{
    font-size: 1.4em;
    margin-bottom: 10px;
}

.produtosdestaque > .botao{
    margin-top: 25px;
    margin-bottom: 10px;
}

#container3 {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    margin-top: 17px;
    background-color: var(--cor0);
    min-height: 290px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.075);
    padding: 20px;
}

#container3 > section {
    max-width: 450px; 
}

#container3> section h1{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2em;
}

#container3> section p{
    margin-top: 10px;
    margin-bottom: 45px;
    font-size: 1.1em;
    color: var(--p)
}

#container3> section p:hover{
    color: rgb(0, 0, 0);
}

#container3 > section a{
    font-size: 1.1em;
    padding: 10px 40px;
}

#container3 > img {
    width: 400px;
    height: 290px; 
    margin-left: 60px;
    border-radius: 8px; 
    object-fit: cover; 
}

#container4{
    display: flex;
    justify-content: center; 
    margin: auto;
    margin-top: 27px;
    padding: 20px;
    gap: 30px; 
    background-color: var(--cor0);
    max-width: 945px;
    min-height: 300px;
    border-radius: 0 0 20px 20px;
}

#container4 > img {
    margin-top: 50px;
    width: 370px;
    height: 260px; 
    border-radius: 8px; 
    object-fit: cover; 
}

#container4 > article{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 480px;
}

#container4 > article > h1{
    color: var(--cor4);
    font-size: 2em;
    text-align: center;
}


#container5 > h1{
    margin-top: 20px;
    text-align: center;
    font-size: 1.9em;
    padding: 20px;
    color: var(--cor4)
}

#container5 > p{
    margin: auto;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 17px;
    color: var(--p);
    margin: 0 10px 10px;
}

#container5 > #contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container5 > #contato > .meiosdecontato > p{
    color: var(--p)
}
.meiosdecontato{
    background-color: var(--cor0);
    margin: 10px;
    width: 300px;
    height: 270px;
    text-align: center;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.075);
    transition: transform 0.3s ease;
    transition: 0.3s;
    border-radius: 10px;
    padding-bottom: 10px;
}
.meiosdecontato:hover{
    transform: translateY(-5px);
}
.meiosdecontato > img{
    margin: 25px;
    width: 60px;
    margin-bottom: 35px;
}

.meiosdecontato > h2{
    color: var(--cor3);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.meiosdecontato > .botao{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    margin-top: 50px;
    background-color: var(--cor0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
}

footer > p{
    margin: 10px;
}

footer > small{
    display: block;
    font-size: 0.85em;   
    color: #666;   
}

footer > small > a{
    color: #666; 
}

/* Responsividade */
@media (min-width: 1071px) { /*sumir itens navbar*/
  .desktop-menu {
    display: flex !important;
    gap: 20px;
    align-items: center;
  }
  .navbar-toggler,
  .offcanvas {
    display: none !important;
  }
  
}

@media (max-width: 1070px) {
     /*----navbar-------*/
    .desktop-menu {
        display: none !important;
    }
    .navbar-toggler {
        display: block !important;
    }
    header{
        padding: 0;
    }
    header > nav {
        justify-content: space-between;
        width: 100%;
    }

    header h1{
        position: static;
        margin: 0;
    }

    .whatsapp-btn {
        position: static;
        margin-left: 0;        
        display: block;         
        margin: 20px auto 0;    
        text-align: center;
    }


    /*----Container1-------*/
    #container1{
        background-image: url('../imagens/identidade_visual/imagembanner_pequena.jpg');
    }

    .texto-sobre-imagem h1{
        max-width: 400px;
    }

    .texto-sobre-imagem p{
        max-width: 200px;
    }
}



@media (max-width: 890px) {
 /*----Container2-------*/
    #container2 > h1{
    font-size: 1.3em;
    }
    #container2 > p{
    font-size: 0.8em;
    }
    .produtosdestaque{
        width: 300px;
        height: 360px;
        font-size: 0.9em;
    }
    .produtosdestaque > img{
        width: 300px;
        height: 180px;
    }
    
 /*----Container3-------*/
    #container3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }
    #container3 > img, #container4 > img{
        margin: 0;
        text-align: center;
        width: 100%;
        max-width: 370px;
        height: auto;
    }
 /*----Container4-------*/
    #container4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
    }

    footer{
        font-size: 0.8em;
    }
}


